.cover {
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    width: calc(100% - 96px);
    min-height: 748px;
    background-size:cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    z-index: 1;
}

@media screen and (max-width:1279px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width:1023px) {
    .cover {
        min-height: 480px;
        margin-top: 18px;
    }
}
@media screen and (max-width:767px) {
    .cover {
        min-height: 200px;
        margin-top: 16px;
    }
}


