.header__lang-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    padding: 0;
    list-style: none;
}


@media screen and (max-width:767px) {
    .header__lang-links {
        font-size: 18px;
        line-height: 20px;
    }
}